

<h3>My Shopping Bag <span class="pull-right">Order total: {{bag.orderTotal | currency}}</span> </h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Product</td>
      <td>Quantity</td>
      <td>Sub-total</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in bag.items">
      <td>
        <h3>{{ item.name }}</h3>
        <img ng-src="{{item.imageUrl}}" alt="tea picture" />
        <span>
          <p>
            <strong>Caffeine Scale:</strong> {{ item.caffeineScale }}
          </p>
          <p>
            <strong>Ingredients:</strong> {{ item.ingredients }}
          </p>
          <p>
            <strong>Rating:</strong> {{ item.rating }}
          </p>
        </span>
      </td>
      <td>
        <span ng-if="!bag.editing">{{item.quantity}}</span>
        <span ng-if="bag.editing"><input type="number" min="0" ng-model="item.quantity"></span>
      </td>
      <td>
          <strong>{{ (item.price/100)*item.quantity | currency }}</strong>
      </td>
      <td>
        <button type="button" class="btn btn-warning" ng-click="bag.isEditing(bag.editing)">
          <span ng-if="!bag.editing">Edit</span>
          <span ng-if="bag.editing">Save</span>
        </button>
        <button type="button" class="btn btn-danger" ng-click="bag.removeItem(item)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
<span class="pull-right"><button type="button">Place Order</button></span>
